.column-select__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--color-white1);
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.ant-dropdown {
  z-index: 1000 !important;
}

.column-select__btn {
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
}

.column-select__btn:hover,
.column-select__btn--active {
  background-color: var(--color-green-light);
}

.column-select__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
}

.column-select__item span {
  font-size: 12px;
  font-family: 'Inter Regular';
  border-radius: 4px;
  flex-grow: 1;
  padding: 4px;
  line-height: 1.2;
}
