.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color-mix(in srgb, var(--color-grey0), transparent 50%);
}

.loader .MuiCircularProgress-root {
  color: var(--color-grey7);
}

.loader-with-background {
  background-color: var(--color-grey0);
}

.loader-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader-inner__title {
  margin-top: 20px;
  max-width: 500px;
}

.loader-mini {
  position: relative;
  top: 2px;
}

.loader-mini .MuiCircularProgress-root {
  color: var(--color-grey0);
}
