.project-parameters__container {
  height: 30px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  width: calc(100% - var(--sidebar-width) - 16px);

  position: absolute;
  left: var(--sidebar-width);
}

.project-parameters__container button {
  white-space: nowrap;
}

.project-parameters__container .ant-input {
  border-radius: 8px !important;
}

.project-parameters__container__scale {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;
  max-width: 280px;
}

.project-parameters__container__scale .input-text__label {
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 100%;
}

.project-parameters__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.project-parameters__container__detect-objects-btn {
  min-width: 200px;
}

.project-parameters__container__layer-settings {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.project-parameters__container__layer-settings .ant-color-picker-trigger.ant-color-picker-trigger-active,
.project-parameters__container__layer-settings .ant-color-picker-trigger:hover {
  border-color: #74b200;
  box-shadow: none;
}
