.table__name {
  font-family: 'Inter Bold';
  font-size: 13px;
  color: var(--color-grey7);
  padding: 2px 4px;
  text-align: center;
}

.table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 8px 6px;
}

.table thead th {
  font-family: 'Inter Light';
  font-size: 12px;
  color: var(--color-grey5);
  text-align: left;
  vertical-align: top;
  padding-bottom: 6px;
}

.table tbody td {
  white-space: nowrap;
  font-family: 'Inter Medium';
  font-size: 13px;
  color: var(--color-grey7);
  text-align: left;
}

.table__input-note {
  width: 130px;
}
