.alert {
	height: auto;
	width: 424px;
	border: 1px solid var(--color-red-white);
	background-color: var(--color-red-white);
	border-radius: 16px;
	padding: 12px;
	gap: 8px;
}

.alert__content {
	display: flex;
	font-family: 'Inter Regular';
	font-size: 14px;
	color: var(--color-red-main)
}

.alert_icon {
	font-size: 24px;
}

.alert_description {
	margin-left: 10px;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	letter-spacing: -0.084px;
}

.alert_actions .licard-icon-cross {
	font-family: 'Inter Regular';
	font-size: 24px;
	cursor: pointer;
	margin-left: auto;
}